<div class="px-4 py-5 my-5 text-center centriraj">
    <img class="d-block mx-auto mb-4" src="https://www.svgrepo.com/show/184431/ebook.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">eKnjizara</h1>
    <div class="tekst">
            <div>
          <button type="button" class="drugi" mat-raised-button color="secondary" routerLink='/contact'>
              Kontakt
              <mat-icon>contact_support</mat-icon>
          </button>
        </div>
    </div>
</div>

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">Klett</span></h2>
        <h4 class="lead">
            Klett je izdavač sa dugogodišnjom tradicijom u izdavanju školskih udžbenika i jedna od najvećih izdavačkih grupa na svetu, 
            sa zavidnim renomeom u mnogim državama.
        </h4>
        <h4 class="lead">
            Grupa Klett je u porodičnoj tradiciji porodice Klett još od 1897. godine. Danas je Grupa Klett 
            prisutna u 18 država i spada među najveće evropske izdavače. Godišnje priprema 2.800 novih izdanja 
            i oko 70 revija, a u svojim katalozima ima na raspolaganju više od 28.000 različitih naslova.
        </h4>
      </div>
      <div class="col-md-5">
        <img class="slika" src="../../../../assets/images/right-cover.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted">Klett</span></h2>
        <h3 class="lead">
            Izdavačke kuće u sastavu grupacije Klett širom sveta udružuju svoje snage i znanja, 
            radeći zajedno na mnogobrojnim projektima i međusobno se pomažu u poboljšavanju pojedinih 
            projekata i celokupne svoje ponude.
        </h3>
        <h2>
            Podaci o firmi: <br>
            Naziv: KLETT izdavačka kuća d. o. o. Beograd <br>
            Adresa: <br> Maršala Birjuzova 3-5, 11000 Beograd <br>
            PIB: 103239684
        </h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="slika" src="../../../../assets/images/left-cover.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
  <h1 class="text-muted" style="margin-bottom: 0; text-align: center;">&copy; eKnjizara 2021. All rights reserved!</h1>