.search {
    margin: auto;
    align-items: center;
    width: 90%;

    input {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding: .7rem;
        align-items: center;
        color: black;
        border-radius: 2rem;
        font-size: 2rem;
    }
}

.noText {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

.container {
    width: 100%;
    align-items: center;
    text-align: center;
}


.knjige {
    width: 100%;
}