<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            
            <mat-list-item>
                <mat-icon style="width: 100%; text-align: center;" mat-list-icon class="chevron-button sidenav-button" (click)="expanded = !expanded" [ngClass]="{'rotated': expanded}" >chevron_right</mat-icon>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item disabled *ngIf="(auth.authenticated | async) == true && expanded">
                <span>Hi, {{user.name}}</span>
            </mat-list-item>

            <mat-divider></mat-divider>
            
            <mat-list-item routerLink="/dashboard"
                matTooltip="Pocetna!"
                matTooltipClass="example-tooltip-red"
            >
               <mat-icon mat-list-icon>home</mat-icon>
               <span *ngIf="expanded" >Home</span>
            </mat-list-item>

            <mat-list-item routerLink="/info" 
                matTooltip="O nama!"
                matTooltipClass="example-tooltip-red"
            >
                <mat-icon mat-list-icon>info</mat-icon>
                <span *ngIf="expanded">Info</span>
            </mat-list-item>

            <mat-list-item routerLink="/all-books" 
                matTooltip="Sve knjige"
                matTooltipClass="example-tooltip-red"
            >
                <mat-icon mat-list-icon>menu_book</mat-icon>
                <span *ngIf="expanded">Udzbenici!</span>
            </mat-list-item>

            <mat-list-item 
            matTooltip="Profil!"
            matTooltipClass="example-tooltip-red"
            routerLink="/user" 
            *ngIf="(auth.authenticated | async) == true"
            >
                <mat-icon mat-list-icon>badge</mat-icon>
                <span *ngIf="expanded" >Profile</span>
            </mat-list-item>

            <mat-list-item 
            routerLink="/login" 
            *ngIf="!(auth.authenticated | async) == true"
            matTooltip="Ulogujte se.."
            matTooltipClass="example-tooltip-red"
            >
                <mat-icon mat-list-icon>login</mat-icon>
                <span *ngIf="expanded" >Login</span>
            </mat-list-item>

            <mat-list-item 
            (click)="logout()" 
            *ngIf="(auth.authenticated | async) == true"
            matTooltip="Odjavite se!"
            matTooltipClass="example-tooltip-red"
            >
                <mat-icon mat-list-icon>phonelink_erase</mat-icon>
                <span *ngIf="expanded" >Logout</span>
            </mat-list-item>

            <mat-list-item 
            routerLink="/register" 
            *ngIf="!(auth.authenticated | async) == true"
            matTooltip="Napravite nalog"
            matTooltipClass="example-tooltip-red"
            >
                <mat-icon mat-list-icon>app_registration</mat-icon>
                <span *ngIf="expanded" >Register</span>
            </mat-list-item>
        
            </mat-nav-list>
        </mat-sidenav>
    <div class="content">
    
        <mat-toolbar>
            <mat-icon style="margin-right: 10px;" mat-list-icon >menu_book</mat-icon>
            <h1>BookStore</h1>
            <div fxFlex fxLayoutAlign="flex-end center">
                <button mat-icon-button
                matTooltip="Pretrazi knjige"
                matTooltipClass="example-tooltip-red"
                class="example-button"routerLink="/search">
                    <mat-icon>
                        manage_search
                    </mat-icon>
                </button>
                <button mat-icon-button 
                *ngIf="(auth.authenticated | async) == true"
                matTooltip="Kartica"
                matTooltipClass="example-tooltip-red"
                [matMenuTriggerFor]="cart" >
                    <mat-icon matBadge="{{cartItems?.length || 0}}" matBadgeSize="medium" matBadgePosition="after" matBadgeColor="accent">shopping_cart</mat-icon>
                </button>
                <mat-menu #cart="matMenu">
                    <div *ngFor="let item of cartItems" class="kartica"> 
                            <div class="proizvodi">
                                <div class="slika-levo">
                                    <img src="{{item?.slika}}">
                                </div>
                                <div class="naziv-desno">
                                    <h3>
                                        {{item?.naziv}}
                                    </h3>
                                    <p>{{item?.cena}}</p>
                                    <button mat-raised-button color="warn" (click)="removeOne(item._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                    </div>
                    <div class="dno">
                        <h3 class="ukupno">Ukupno: {{ukupno}} RSD</h3>
                        <button mat-raised-button color="warn" (click)="isprazni()">
                            Isprazni <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-raised-button color="primary" style="margin-left: 1rem;" routerLink="/cart">
                            Kartica <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </mat-menu>
                <button mat-icon-button 
                matTooltip="Profil"
                matTooltipClass="example-tooltip-red"
                [matMenuTriggerFor]="menu" >
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button routerLink="/user" mat-menu-item [disabled]="!(auth.authenticated | async) == true">
                      <mat-icon>person</mat-icon>
                      <span>Profile</span>
                    </button>

                    <button mat-menu-item routerLink="/cart" [disabled]="!(auth.authenticated | async) == true">
                        <mat-icon>shopping_cart</mat-icon>
                        <span>My Cart</span>
                    </button>

                      <mat-divider></mat-divider>
                    <button mat-menu-item routerLink="/login" *ngIf="!(auth.authenticated | async) == true" >
                      <mat-icon>login</mat-icon>
                      <span>Login</span>
                    </button>
                    <button mat-menu-item routerLink="/register" *ngIf="!(auth.authenticated | async) == true">
                      <mat-icon>app_registration</mat-icon>
                      <span>Register</span>
                    </button>
                    <button mat-menu-item routerLink="/login" (click)="logout()" *ngIf="(auth.authenticated | async) == true">
                        <mat-icon>phonelink_erase</mat-icon>
                        <span>Logout</span>
                      </button>
                  </mat-menu>
            </div>
        </mat-toolbar>
    </div>
        <router-outlet></router-outlet>
</mat-sidenav-container>