<h1 *ngIf="kartica" style="text-align: center; margin-top: 2rem;">Izabrali ste placanje karticom</h1>
<div *ngIf="isLoading">
    <app-spiner></app-spiner>
</div> 
<div class="container-fluid" *ngIf="kartica">
    <div class="row justify-content-center" *ngIf="!isLoading">
        <div class="card my-4 p-3">
            <div class="row justify-content-center mrow">
                <div class="col-12"> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" width="35px" height="35px" /> <img src="https://img.icons8.com/color/48/000000/visa.png" width="35px" height="35px" /> <img src="https://img.icons8.com/color/48/000000/paypal.png" width="35px" height="35px" /> </div>
            </div>
            <form class="form-card">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="number" required><label class="form-control-placeholder p-0" for="number">CardNumber</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="name" required><label class="form-control-placeholder p-0" for="name">Cardholder'sName</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="sdate" required><label class="form-control-placeholder p-0" for="sdate">StartDate</label> </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="text" class="form-control p-0" id="expdate" required><label class="form-control-placeholder p-0" for="expdate">ExpirationDate</label> </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="password" class="form-control p-0" id="passw" required><label class="form-control-placeholder p-0" for="passw">CVV</label> </div>
                    </div>
                </div>
                <div class="row lrow mt-4 mb-3">
                    <div class="col-sm-8 col-12">
                        <h3>Ukupno:</h3>
                    </div>
                    <div class="col-sm-4 col-12">
                        <h5> {{total}} RSD</h5>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12"> <button type="button" (click)="pay()" class="btn btn-primary btn-block">Pay</button> </div>
                </div>
            </form>
        </div>
    </div>
</div>



<h1 *ngIf="!kartica" style="text-align: center; margin-top: 2rem;">Izabrali ste placanje pouzecem</h1>

<div class="px-4 py-5 my-5 text-center centriraj" *ngIf="!kartica">
    <img class="d-block mx-auto mb-4" src="../../../../assets/images/success-svgrepo-com.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Vasa porudzbina je uspesno kreirana!</h1>
    <div class="tekst">
        <h2>
            Ocekujte isporuku u naredna 3 dana. Hvala Vam sto kupujete kod nas!    
        </h2>
            <div>
          <button class="pocetna" type="button" mat-raised-button color="primary" routerLink='/dashboard'>
            Nazad na pocetnu
            <mat-icon>home</mat-icon>
          </button>
          <button class="drugi" type="button" mat-raised-button color="secondary" routerLink='/contact'>
              Kontakt
              <mat-icon>contact_support</mat-icon>
          </button>
        </div>
    </div>
</div>