<body>
<div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm" style="margin-top: 50px;" *ngIf="!isLoading">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src='../../../../assets/images/right-cover.png' alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user?.name}} {{user?.surname}}</h4>
                      <p class="text-secondary mb-1">{{user?.email}}</p>
                      <button mat-raised-button
                      color="warn" style="margin-top: 5px;"
                      (click)="openDialog()"
                      >Delete account</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Ime</h6>
                    </div>
                    <div class="col-sm-9" style="color: black; font-size: 1.4rem;">
                      {{user?.name}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prezime</h6>
                    </div>
                    <div class="col-sm-9" style="color: black; font-size: 1.4rem;">
                      {{user?.surname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9" style="color: black; font-size: 1.4rem;">
                      {{user?.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                  </div>
                </div>
              </div>


            </div> 
          </div>

        </div>
    </div>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 80%; margin-left: auto; margin-right: auto;"></mat-divider>
    <div style="width: 80%; margin: auto; color: white;">
        <h1 style="margin: auto;">Edit delivery info<span style="margin-left: 10px;" class="glyphicon glyphicon-envelope"></span></h1>
    </div>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 80%; margin-left: auto; margin-right: auto;"></mat-divider>
    <div *ngIf="isLoading">
        <app-spiner></app-spiner>
    </div> 
    <mat-stepper linear orientation="vertical" #stepper style="width: 80%; margin: auto;" *ngIf="!isLoading">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Is your email right?</ng-template>
            <mat-form-field appearance="fill" style="width: 80%;" [style.fontSize.px]=14>
              <mat-label>Email</mat-label>
              <input matInput formControlName="firstCtrl" style="color: white;" placeholder="Last name, First name" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Street and house number:</ng-template>
            <mat-form-field appearance="fill" style="width: 80%;" [style.fontSize.px]=14>
              <mat-label>Street and house number:</mat-label>
              <input matInput style="color: white;" formControlName="secondCtrl" placeholder="Street and house number"
                     required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Municipality / Place:</ng-template>
              <mat-form-field appearance="fill" style="width: 80%;" [style.fontSize.px]=14>
                <mat-label>Municipality / Place:</mat-label>
                <input matInput style="color: white;" formControlName="thirdCtrl" placeholder="Municipality / Place"
                       required>
              </mat-form-field>
              <div>
                <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
              <ng-template matStepLabel>Zip Code:</ng-template>
              <mat-form-field appearance="fill" style="width: 80%;" [style.fontSize.px]=14>
                <mat-label>Zip Code:</mat-label>
                <input matInput style="color: white;" formControlName="fourthCtrl" placeholder="Zip Code" 
                       required>
              </mat-form-field>
              <div>
                <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Save</ng-template>
          <h3 style="color: white;">You can save delivery information now</h3>
          <div>
            <button mat-raised-button color="warn" matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" (click)="onSubmit()">Save</button>
          </div>
        </mat-step>
      </mat-stepper>

</body>