mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}
.left-btn { float: left; }
.right-btn { float: right; }
.btn {
    padding: .7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}