mat-toolbar {
    justify-content: space-between;
}

.tabovi {
    width: 100%;
    text-align: center;
    align-items: center;

    .knjige {
        width: 100%;
    }
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.left-btn { float: left; }
.right-btn { float: right; }
.btn {
    padding: .7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tekst {
    text-align: center;
    width: 70%;
    margin: auto;
    
    .pocetna {
        margin-right: 2rem;
    }

    button {
        padding: .5rem;
        font-size: 2rem;
    }
}

.enterEmail {
    width: 50%;
    text-align: center;
    margin: auto;
}

.forma {

    button {
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
        border-radius: 2rem;
    }
}

@media (max-width: 800px) {
    .enterEmail {
        width: 100%;
    }
}