<div class="px-4 py-5 my-5 text-center centriraj">
    <img class="d-block mx-auto mb-4" src="../../../../assets/images/success-svgrepo-com.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Vasa porudzbina je uspesno kreirana!</h1>
    <div class="tekst">
        <h2>
            Ocekujte isporuku u naredna 3 dana. Hvala Vam sto kupujete kod nas!    
        </h2>
            <div>
          <button class="pocetna" type="button" mat-raised-button color="primary" routerLink='/dashboard'>
            Nazad na pocetnu
            <mat-icon>home</mat-icon>
          </button>
          <button type="button" mat-raised-button color="secondary" routerLink='/contact'>
              Kontakt
              <mat-icon>contact_support</mat-icon>
          </button>
        </div>
    </div>
</div>